USE [master]
GO
/****** Object:  Database [BioskopDB]    Script Date: 24/06/2026 18:18:07 ******/
CREATE DATABASE [BioskopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BioskopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BioskopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BioskopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BioskopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BioskopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BioskopDB]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[film_id] [int] IDENTITY(1,1) NOT NULL,
	[judul] [varchar](100) NULL,
	[genre] [varchar](50) NULL,
	[durasi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[film_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SemuaFilm]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SemuaFilm]
AS
    SELECT film_id, judul, genre, durasi
    FROM Film
GO
/****** Object:  Table [dbo].[Jadwal]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jadwal](
	[jadwal_id] [int] IDENTITY(1,1) NOT NULL,
	[film_id] [int] NULL,
	[studio_id] [int] NULL,
	[tanggal] [date] NULL,
	[jam] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[jadwal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kursi]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kursi](
	[kursi_id] [int] IDENTITY(1,1) NOT NULL,
	[studio_id] [int] NULL,
	[nomor_kursi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[kursi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pembayaran]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pembayaran](
	[pembayaran_id] [int] IDENTITY(1,1) NOT NULL,
	[tiket_id] [int] NULL,
	[metode] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[jumlah] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pembayaran_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tiket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studio]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studio](
	[studio_id] [int] IDENTITY(1,1) NOT NULL,
	[nama_studio] [varchar](50) NULL,
	[kapasitas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[studio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiket]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiket](
	[tiket_id] [int] IDENTITY(1,1) NOT NULL,
	[jadwal_id] [int] NULL,
	[kursi_id] [int] NULL,
	[user_id] [int] NULL,
	[harga] [int] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tiket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jadwal]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([film_id])
GO
ALTER TABLE [dbo].[Jadwal]  WITH CHECK ADD FOREIGN KEY([studio_id])
REFERENCES [dbo].[Studio] ([studio_id])
GO
ALTER TABLE [dbo].[Kursi]  WITH CHECK ADD FOREIGN KEY([studio_id])
REFERENCES [dbo].[Studio] ([studio_id])
GO
ALTER TABLE [dbo].[Pembayaran]  WITH CHECK ADD FOREIGN KEY([tiket_id])
REFERENCES [dbo].[Tiket] ([tiket_id])
GO
ALTER TABLE [dbo].[Tiket]  WITH CHECK ADD FOREIGN KEY([jadwal_id])
REFERENCES [dbo].[Jadwal] ([jadwal_id])
GO
ALTER TABLE [dbo].[Tiket]  WITH CHECK ADD FOREIGN KEY([kursi_id])
REFERENCES [dbo].[Kursi] ([kursi_id])
GO
ALTER TABLE [dbo].[Tiket]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_DashBoardFilm]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Buat ulang dengan benar
CREATE PROCEDURE [dbo].[sp_DashBoardFilm]
AS
BEGIN
    SELECT 
        f.judul AS JudulFilm, 
        COUNT(j.jadwal_id) AS JumlahJadwal
    FROM dbo.Jadwal j
    JOIN dbo.Film f ON j.film_id = f.film_id
    GROUP BY f.judul
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteFilm]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteFilm]
    @film_id INT,
    @result NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cek apakah film masih terdaftar di jadwal
    IF EXISTS (SELECT 1 FROM dbo.Jadwal WHERE film_id = @film_id)
    BEGIN
        DECLARE @judul NVARCHAR(100)
        SELECT @judul = judul FROM dbo.Film WHERE film_id = @film_id

        SET @result = 'Film "' + @judul + '" tidak dapat dihapus karena masih terdaftar dalam jadwal tayang. Hapus jadwal terkait terlebih dahulu.'
        RETURN
    END

    -- Kalau aman, baru hapus
    DELETE FROM dbo.Film WHERE film_id = @film_id
    SET @result = 'Film berhasil dihapus.'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertFilm]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. sp_InsertFilm (dengan output @result)
CREATE PROCEDURE [dbo].[sp_InsertFilm]
    @judul VARCHAR(100),
    @genre VARCHAR(50),
    @durasi INT,
    @result NVARCHAR(100) OUTPUT
AS
BEGIN
    INSERT INTO Film (judul, genre, durasi)
    VALUES (@judul, @genre, @durasi)
    SET @result = 'Film berhasil ditambahkan!'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUser]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertUser]
    @nama VARCHAR(100),
    @email VARCHAR(100),
    @password VARCHAR(100),
    @role VARCHAR(20),
    @result NVARCHAR(100) OUTPUT
AS
BEGIN
    INSERT INTO [User] (nama, email, password, role)
    VALUES (@nama, @email, @password, @role)
    SET @result = 'BERHASIL - Registrasi berhasil!'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Email VARCHAR(100),
    @Password VARCHAR(100)
AS
BEGIN
    SELECT user_id, nama, email, role
    FROM [User]
    WHERE email = @Email AND password = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateFilm]    Script Date: 24/06/2026 18:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateFilm]
    @film_id INT,
    @judul   VARCHAR(100),
    @genre   VARCHAR(50),
    @durasi  INT,
    @result  NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Film WHERE film_id = @film_id)
    BEGIN
        SET @result = 'Film tidak ditemukan.'
        RETURN
    END

    UPDATE Film
    SET judul  = @judul,
        genre  = @genre,
        durasi = @durasi
    WHERE film_id = @film_id

    SET @result = 'BERHASIL - Film berhasil diupdate!'
END
GO
USE [master]
GO
